[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
pylint = "*"
pandas = "==1.0.1"
msvc-runtime = "*"
scipy = "*"
utm = "*"
pillow = "*"
django-guid = "*"
plotly = "==5.3.1"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
