[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
pandas = "*"
msvc-runtime = "*"
scipy = "*"
utm = "*"
pillow = "*"
django-guid = "*"
plotly = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "*"
