{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="modal-body row">
        <div class="col-md-6">
            <h3 id='pageTitle'>Workspace</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NAMA PROYEK</th>
                        <th>NILAI DENSITAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ work_data.nama_proyek }}</td>
                        <td>{{ work_data.density }}</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
                <div class="fixTableHead">
                    <table class="table table-bordered table-striped" id="mainTable">
                    </table>        
                </div>
        <br>
        <button class="btn btn-secondary" onclick="sbaCalc()">Hitung anomali bouguer</button>
        <a href="/dashboard" class="btn btn-danger">kembali</a>
        </div>
        <div class="col-md-6">
                <h3>Plot Data Gravitasi</h3>
                <p>Klik pilihan untuk melihat peta kontur:</p>
        
                <div class="tab">
                    <button class="tablinks" onclick="elevPlot()">Elevasi</button>
                    <button class="tablinks" onclick="faPlot()">Free Air Anomaly</button>
                    <button class="tablinks" onclick="sbaPlot()">SBA</button>
                    <button class="tablinks" onclick="">SVD</button>
                </div>
        
                <div id="Elevasi" class="tabcontent">
                    <div id="elevDiv"></div>
                </div>       
        </div>
    </div>   
</div>
<script src="{% static 'js/tablefunc.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/sba_table.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/tab.css' %}">
<link rel="stylesheet" href="{% static 'css/scroll_table.css' %}">
<script src="{% static 'js/plotting.js' %}"defer></script>
{% endblock %}