{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
            <h3>Workspace</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NAMA PROYEK</th>
                        <th>NILAI DENSITAS</th>
                        <th>SBA1</th>
                        <th>SBA2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ work_data.nama_proyek }}</td>
                        <td>{{ work_data.density }}</td>
                        <td>{{ work_data.sba1 }}</td>
                        <td>{{ work_data.sba2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{% url 'get_density' work_data.unique_id %}" class="btn btn-primary">Hitung Density</a>
        <a href="{% url 'get_bouger' work_data.unique_id %}" class="btn btn-secondary">Hitung Anomali Bouger</a>
        <a href="/dashboard" class="btn btn-danger">kembali</a>
    </div>
    
</div>

{% endblock %}